<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Welcome to Project Horn</h1>
        <h2>'Get on the horn'</h2>
        <div class="text-center">
            <button class="btn btn-primary btn-lg me-3" (click)="registerToggle()">Register</button>
            <button class="btn btn-primary btn-lg">Learn More</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>
